// Define variables for your color scheme

// custom colors

$light-grey: #F4F4F4;
$lm-grey: #DADADA;
$m-grey: rgba(109,103,110,0.7);
$medium-grey: rgb(109,103,110);
$dark-grey: #5A5A5A;
$black: #1B1B1E;
$pink: #EE3868;
$white: rgb(253, 253, 253);
