.list-article {
  border: 1px solid $light-grey;
}

.all-index-articles {
  background-color: $light-grey;
  min-height: 75vh;
}

.list-index-articles {
  background-color: white;
  border-radius: 10px;
}
