<div class="footer">
  <div class="contact d-flex">
    <p class="text-footer text-center p-2">Nous contacter</p>
    <p class="text-footer text-center p-2">Numéro de téléphone : 0607980768</p>
    <p class="text-footer text-center p-2">adresse e-mail : wearesingle@gmail.com</p>
  </div>
</div>
