<div class="all-article p-5 m-0">
  <div class="container-show-article bg-white">
    <div class="d-flex bg-white">
      <div class="photo-show-who px-4 py-5">
        <%= image_tag("was-logo-sans-fond.png", crop: :thumb, height: 400, width: 500) %>
      </div>
      <div class="text-show-article px-4 pb-5">
        <h2 class="pt-5">QUI SOMMES-NOUS ?</h2>
        <p class="pl-3">Bienvenue chez We Are Single, le spécialiste de la création et de l’organisation d’<strong>évènements pour célibataires</strong>.
        Nos sorties et soirées se déroulent dans plusieurs villes du grand ouest, afin de vous proposer des événements <strong>au plus proche de chez vous</strong>.
        Notre spécificité : <strong>les soirées dansantes</strong> spécial célibataires !
        Ces événements sont l’occasion rêvée de sortir s’amuser et la possibilité de rencontrer votre moitié.
         D’autres événements sont également organisés dans plusieurs villes : speed-datings, rando-datings, cours de danse et bien d’autres !</p>
        <h2>NOTRE PUBLIC</h2>
        <p class="pl-3">Notre public est constitué de célibataires de <strong>plus de 30 ans</strong>, ayant envie de faire de <strong>« vraies » rencontres</strong>.
        Chaque année, des millions de français célibataires s’inscrivent sur des sites de rencontres.
        Nous souhaitons rendre vos rencontres plus réelles et authentiques.</p>
        <h2>NOTRE ENGAGEMENT</h2>
        <p class="pl-3">Nous avons à coeur de vous proposer des événements vous permettant de faire des rencontres dans une ambiance agréable et conviviale, le tout en étant accessible pour vous.</p>
      </div>
    </div>
  </div>
</div>
