.card-event-index {
  background-color: white;
  border-radius: 10px !important;
  width: 330px;
  height: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
}
.index-left {
  width: 60%;
}

.index-right {
  width: 40%;
}

.address-event i {
  text-decoration: none !important;
  color: $medium-grey;
}

.title-index-page {
  padding-left: 100px;
  padding-bottom: 40px;
}

.all-index-events {
  background-color: $light-grey;
  padding-bottom: 100px
}
