.card-event-index {
  background-color: $white;

  width: 330px;
  height: 350px;
}
.index-left {
  width: 60%;
  background-color: $white;
}

.index-right {
  width: 40%;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
}

.address-event i {
  text-decoration: none !important;
  color: $medium-grey;
}

.title-index-page {

}

.card-event-index:hover h3 {
  color: $pink !important;
}

