.container-index-event {
  text-align: left;
}

.list-index-event:hover p{
  color: $pink !important;
}

.list-index-event:hover i{
  color: $pink !important;
}
.card-event {
  // position: relative;
  background-color: $white;
  width: 270px;
  padding-right: 10px;
  height: 350px;
}

.card-event:hover h3{
  color: $pink !important;
}

.display-index-events:hover p {
  color: $pink !important;
}

.photo-event-index {
  height: 200px;
  width: 270px;
  border-radius: 5px;
  object-fit: cover;
}
.e-mail-event {
 border-bottom: 1px solid $lm-grey;
}

.size-progress {
  font-size: 13px !important;
}

.index-title-event {
  color: $medium-grey ;
  font-size: 20px !important;
  font-weight: bold;
  font-family: "Montserrat";
}

.link-to-show:hover {
  text-decoration: none;
}

.photo-event {
  height: 200px;
  width: 330px;
  border-radius: 5px;
  object-fit: cover;
}

.login {
  min-height: 70vh;
}

